
<div id="header">
    <div id="logo">
        <a href="javascript:history.back()"><img src="assets/img/logo.png" alt=""></a>
    </div>
    <div id="nav">

        <!--<ion-icon name="menu" menuToggle style="margin-left: 18px; float: right; margin-top: 5px; color: white;"></ion-icon>-->
        <i class="fa fa-bars" menuToggle></i>
        <!--<img src="assets/img/menu-butto.png" menuToggle alt=""
             style="margin-left: 18px; float: right; margin-top: 5px;">-->
       <!-- <div id="search-menu">
            <div id="search">
                <form action=""><input type="text" placeholder="Enter your keywords"><input type="submit" class="submit"
                                                                                            value=""/>
                    <i class="fa fa-search"  (click)="showToast()"></i>
                    <i class="fa fa-times"  (click)="showSearch(' ')"></i>
                </form>
            </div>
            &lt;!&ndash;<i class="fa fa-search"></i>&ndash;&gt;
            <img src="assets/img/search-icon.png" alt="" style="position: relative; z-index: 15;" (click)="showSearch(' ')">
        </div>-->
        <div id="search-menu" [ngClass]="{'active':flag}">
            <div id="search">
                <form action=""><input type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                                       placeholder="Enter your keywords"><input type="submit" class="submit"
                                                                                value=""
                                                                                (click)="searchResult(searchValue)"/>
                    <i class="fa fa-search" (click)="showToast()"></i>
                    <i class="fa fa-times" (click)="showSearch(' ')"></i></form>
            </div>
            <!--<i class="fa fa-search"></i>-->
            <i class="fa fa-search" (click)="showSearch(' ')"></i>
            <!--<img src="assets/img/search-icon.png" alt="" style="position: relative; z-index: 15;" (click)="showSearch(' ')">-->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div id="body" class="row close">
        <div class="col-12">
            <div id="content">

                <div id="product">
                    <div id="subHeader">
                        <a id="back" href="javascript:void(0)" (click)="back()"><img
                                src="assets/img/left-arrow-angle.png"></a>

                        <h1 class="brands"
                            style=" background: url('assets/img/brands.png') left 20px center no-repeat; text-transform: uppercase; margin-top: 5px;">
                            Manufacturers</h1>
                    </div>


                    <div id="subBody">
                        <!-- <ul id="products" class="three manufacturers" *ngFor="let post of getProductData; let i = index" (click)="listViewClick(i)">
                           <li >
                             <a href="javascript:void(0)">
                             <span class="inner"></span>
                             <img [src]="post.manufacturer_img" />
                               <span class="manufacturer">Milgard</span>
                               <h3>Styleline</h3>
                           </a></li>

                         </ul>-->
           

                        <ion-list id="products">

                            <ion-item *ngFor="let post of getProductData; let i = index" (click)="listViewClick(i,post.manufacturer_img)">
                                <a class="manu-tile">
                                    <img [src]="post.manufacturer_img"/>
                                </a>
                            </ion-item>

                        </ion-list>

                       <!-- <ion-grid id="grid-products">
                            <ion-row>
                                <ion-col width-50 *ngFor="let post of getProductData; let i = index"
                                         (click)="listViewClick(i,post.manufacturer_img)" style=" -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%;flex: 0 0 49.9% !important; max-width: 50%;">
                                     <span class="inner"></span>
                                    <div class="manufac_border">
                                        <img [src]="post.manufacturer_img"/>
                                        <span class="manufacturer">Milgard</span>
                                        <h3>Styleline</h3>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>-->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

