
<div id="header">
    <div id="logo">
        <a href="javascript:history.back()"><img src="assets/img/logo.png" alt=""></a>
    </div>
    <div id="nav">

        <!--<ion-icon name="menu" menuToggle style="margin-left: 18px; float: right; margin-top: 5px; color: white;"></ion-icon>-->
        <i class="fa fa-bars"  menuToggle></i>
        <!--<img src="assets/img/menu-butto.png" menuToggle alt=""
             style="margin-left: 18px; float: right; margin-top: 5px;">-->
        <div id="search-menu" [ngClass]="{'active':flag}">
            <div id="search">
                <form action=""><input type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                                       placeholder="Enter your keywords"><input type="submit" class="submit"
                                                                                value=""
                                                                                (click)="searchResult(searchValue)"/>
                    <i class="fa fa-search" (click)="showToast()"></i>
                    <i class="fa fa-times" (click)="showSearch(' ')"></i></form>
            </div>
            <!--<i class="fa fa-search"></i>-->
            <i class="fa fa-search" (click)="showSearch(' ')"></i>
           <!-- <img src="assets/img/search-icon.png" alt="" style="position: relative; z-index: 15;" (click)="showSearch(' ')">-->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div id="body" class="row close">
        <div class="col-12">
            <div id="content">

                <div id="product">
                    <div id="subHeader">
                        <a id="back" href="javascript:void(0)" (click)="back()"><img
                                src="assets/img/left-arrow-angle.png"
                                ></a>
                        <h1 class="glass-types" [ngStyle]="{ 'background-image': 'url(' + icon + ')'}"
                            >{{em}}</h1>
                        <!--<div id="details"><span>9 Results.</span></div>-->
                        
                        <div id="subRight">
							<div id="filters" *ngIf="filter_flag" [ngClass]="{'open':flag1}" (click)="showForm()">
							   <div class="inner">
										<span></span>

							   </div>

							</div>
                     	   <div id="details" *ngIf="result_flag"><span>{{totalResult}} Results.</span></div>
                        <!--  style=" background: url('assets/img/stained-glass.png') left 20px center no-repeat; text-transform: uppercase; margin-top: 5px;"-->
                        
                        </div>


                        <!-- *ngIf="addExtra"-->
                        <form action="" id="filters-menu" [ngClass]="{'open':flag1}">
                            <div id="options">  <!--class="swiper-wrapper"-->

                                <div *ngFor="let post of getKey; let j = index">
                                   
                                   	<div class="sub">
										<h2>{{post.key}}</h2>

										<div class="op">

											<div class="inner"
												 *ngFor="let post1 of getoptionDatakey[post.key]; let i = index">

												<label class="checkbox-inline">
													
													
													<input type="checkbox" value="" (click)="lableClick(post1.id,post.key)">
													
													<div></div>
													
													<span class="material-fiberglass"
															  [style.background]="'#'+post1.color_code"
															  *ngIf="'Colors'==post.key"></span>
													<img [src]="post1.image" alt="" *ngIf="post.key!='Colors'">
													<span class="option-name">{{post1.name}}</span>
												</label>

											</div>

										</div>
                                	</div>

                                </div>

                            </div>

                            <!-- <div class="swiper-scrollbar"></div>

                             <div class="swiper-pagination"></div>-->

                            <!-- </swiper>-->
                            <div id="foot">
                                <input type="submit" value="Submit">

                            </div>
                        </form>
                    </div>
                    <!-- <div class="newclass">sdsdsds</div>-->

                    <div id="subBody">


                        <div id="manufacturer-header" *ngIf="manuf_flag">
                            <img [src]="manuf_icon" alt="">
                            <hr>

                        </div>

                          <ion-list id="products">
                              <ion-item   id="col1" *ngFor="let post of getProductData; let i = index" (click)="listViewClick(i)">
                                  <a>
                                  <span class="inner"></span>
                                  <img [src]="post.cover_photo"/>
                                  <span class="manufacturer">{{post.manufacturer_name}}</span>
                                  <h3>{{post.name}}</h3>
                                  </a>
                              </ion-item>
                          </ion-list>

                        <!-- <div style="width: 100%; float: left; border-bottom: solid #000; padding: 10px;"
                         >dsjkfldsfsdkfjlsjfsdjfksdfj</div>-->
<!--

                         <ion-grid id="grid-products">
                             <ion-row>
                                 <ion-col  id="col" width-50 *ngFor="let post of getProductData; let i = index"
                                          (click)="listViewClick(i)">
                                     <a>
                                     <span class="inner"></span>

                                     <img [src]="post.cover_photo"/>
                                     <span class="manufacturer">{{post.manufacturer_name}}</span>
                                     <h3>{{post.name}}</h3>
                                     </a>
                                 </ion-col>


                             </ion-row>
                         </ion-grid>
-->



                       <!-- <ul id="products">
                            <li *ngFor="let post of getProductData; let i = index" (click)="listViewClick(i)" id="col">
                                <a href="javascript:void(0)">
                                    <span class="inner"></span>
                                    <img [src]="post.cover_photo"/>
                                    <span class="manufacturer">{{post.manufacturer_name}}</span>
                                    <h3>{{post.name}}</h3>
                                </a>


                            </li>

                        </ul>-->

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
