
<div id="header">
    <div id="logo">
        <img src="assets/img/logo.png" alt="">

    </div>
    <div id="nav">

       <!-- <ion-icon name="menu" menuToggle style="margin-left: 18px; float: right; margin-top: 5px; color: white;"></ion-icon>-->
        <i class="fa fa-bars" menuToggle></i>
       <!-- <img src="assets/img/menu-butto.png"  menuToggle alt="" style="margin-left: 18px; float: right; margin-top: 5px;">-->
        <div id="search-menu" [ngClass]="{'active':flag}">
            <div id="search">
                <form action=""><input type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Enter your keywords"><input type="submit" class="submit"
                                                                                            value=""  (click)="searchResult(searchValue)"/>
                    <i class="fa fa-search" (click)="showToast()"></i>
                    <i class="fa fa-times" (click)="showSearch(' ')"></i></form>
            </div>
            <i class="fa fa-search" (click)="showSearch(' ')"></i>
              <!--<img src="assets/img/search-icon.png" alt="" style="position: relative; z-index: 15;" (click)="showSearch(' ')">-->
        </div>
    </div>
</div>


<div class="container-fluid">
   
   
   
   
    <div id="body" class="close">
        <div class="col-12">
            <div id="content">

                <div id="inside-cover">
                    <div class="row top">
                       <!-- <img class="main" src="" alt=""
                             (click)="newMethod('Windows and Doors')">
-->
                        <div>

                            <div class="bg"></div>

                            <!--(click)="newMethod('Windows and Doors')">-->
                            <h1 (click)="newMethod('Windows and Doors')">Find the Leading Brands in <br> Glass Products
                                <a href="javascript:void(0)">Browse Windows &amp; Doors <i
                                        class="fa fa-long-arrow-right"></i></a>
                            </h1>

                            <!-- <img class="brand" src="assets/img/milgard.png" alt="" > -->
                            <!--<ion-content>
                            <ion-img width="100%" height="100%" src="../../assets/img/showcase.jpg" alt="" ></ion-img>
                            </ion-content>-->
                        </div>
                    </div>
                    <div class="feat-box">
                    <div class="row bottom feat-content">
                       <!-- <div class="col-sm-4">
                            <progressbar class="progress-striped" value="22" type="warning">22%</progressbar>
                        </div>-->
                        <!--<progressbar class="progress-striped" value="55" type="warning" max="200">55%</progressbar>-->
                        <div (click)="newMethod('Service Products')" style="background: url('assets/img/mark.png') right center no-repeat">

                            <div style="background-image: url('assets/img/service.png')" class="bg"></div>
                            <!--<style="background: url('assets/img/mark.png') right center no-repeat;"-->
                            <!--<img src="img/showcase2.jpg" alt="">-->
                            <!--<img class="main" src="assets/img/mark.png" alt="" style="float: right; ">-->
                            <a href="javascript:void(0)"
                               >Shop Service <br>Products
                                <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="white" style="background: url('assets/img/frameless.jpg') center"
                             (click)="newMethod('Custom Showers')">
                            <div style="background-image: url('assets/img/showers.png')" class="bg"></div>
                            <a href="javascript:void(0)"
                            >Custom Shower
                                <br>Design <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="white"
                             style="background: url('assets/img/glass-types/Flemish.jpg') center; border: 0"
                             (click)="newMethod('Gallery')">
                            <div style="background-image: url('assets/img/camera.png')" class="bg"></div>
                            <a href="javascript:void(0)"
                               >View Product <br>Gallery<i class="fa fa-long-arrow-right"></i></a>
                        </div>

                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


