// Slide INput
// ******************************************************************************************************** //


.slider {
  width: 300px;
}

.slider > .dragger {
  background: $c-1;
  background: -webkit-linear-gradient(top, $c-2, $c-1);
  background: -moz-linear-gradient(top, $c-2, $c-1);
  background: linear-gradient(top, $c-2, $c-1);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid $c-1;
  width: 16px;
  height: 16px;
}

.slider  .dragging  {
  background: $s-1;
  background: -webkit-linear-gradient(top, $s-1, $s-2);
  background: -moz-linear-gradient(top, $s-1, $s-2);
  background: linear-gradient(top, $s-1, $s-2);}


.slider > .track, .slider > .highlight-track {
  background: $s-1;
  background: -webkit-linear-gradient(top, $s-1, $s-2);
  background: -moz-linear-gradient(top, $s-1, $s-2);
  background: linear-gradient(top, $s-1, $s-2);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
  background: $s-1;
  background: -webkit-linear-gradient(top, $s-1, $s-2);
  background: -moz-linear-gradient(top, $s-1, $s-2);
  background: linear-gradient(top, $s-1, $s-2);
	
	border-color: #496805;
}
