@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$p-1 : #65A7B8;
$p-2 : #2B7084;
$p-3 : #ABA28B;
$p-4 : #CF5B3F;

a:hover {text-decoration:none;}
@mixin blue {
background:  $p-2;
}    
body {position:relative;}
.container-fluid {max-width:1400px;margin:0 auto;position:relative;width:100%;overflow:hidden;}

#header {position: fixed;z-index: 9;background: #222;left: 0;right: 0;height: 80px;overflow: hidden;max-width:1400px;margin:0 auto;@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.51));
    #logo {position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;height:auto;width:275px;float:left;
        img {width: 100%;padding: 15px 0px;}
    }  
    #nav {position: absolute;font-size: 26px;top: 20px;z-index:10;right:23px;
        > i {margin-left:18px;color:white;float:right;margin-top:5px;}
    }

    #title {position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;text-transform: uppercase;padding-top: 15px;padding-right: 20px;        
        @include bp-s {width:100%;padding-left:200px;}    
        h1 {font-size: 26px;padding-left:20px;letter-spacing: -1px;}        
        * {color: #fff}        
    }
}    

#loading {background:url(../img/loading-bg.jpg) center no-repeat;width:100%;width:100%;position:fixed;top:0;bottom:0;left:0;right:0;text-align:center;
    img {vertical-align:middle;text-align:center;display:block;margin:0 auto;margin-bottom:20px;
        &:first-of-type {margin-top:50px;width:60%;
            @include bp-s {width:400px;margin-top:250px;}
        }
    }
}


body.active {overflow:hidden;}
#menu {width:250px;height:100%;padding-left: 0;padding-right: 0;position:fixed;right: -250px;@include transition(all, .5s);@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.51));z-index:10;bottom:0;opacity:0;@include blue;overflow-x: hidden;
    overflow-y: auto;
    &.active {opacity:1;right:0;}
    img {width:100%;padding:20px 25px;}
    #product-nav {    position: relative;
        span {color: white;font-size: 10px;padding: 10px;text-transform: uppercase;display: block}
        > ul {padding: 0;margin: 0;border-top: 1px rgba(238, 238, 238, 0.25) solid;
            li {list-style: none;text-align: left;vertical-align: middle;
                i {font-size:32px;display:inline-block;display: inline-block;
vertical-align: middle;
position: relative;}
                img {width:30px;display:inline-block;padding:0;display: inline-block;
vertical-align: middle;
position: relative;}
                span {display: inline-block;padding-left:10px;
vertical-align: middle;font-size:13px;
position: relative;}
                &.windows a {background:url(../img/windows.png) left 15px center no-repeat;}
                &.doors a {background:url(../img/doors.png) left 15px center no-repeat;}
                &.multislide-units a {background:url(../img/multislide-units.png) left 15px center no-repeat;}
                &.showers a {background:url(../img/showers.png) left 15px center no-repeat;}
                &.stained-glass a {background:url(../img/stained-glass.png) left 15px center no-repeat;}
                &.glass-blocks a {background:url(../img/glass-blocks.png) left 15px center no-repeat;}
                &.brands a {background:url(../img/brands.png) left 15px center no-repeat;}                    
                a {color: #fff;padding: 13px 10px 13px 20px;border-bottom: 1px rgba(238, 238, 238, 0.25) solid;display: block;text-transform: uppercase;font-size:14px;vertical-align: middle;
                }
            }
        }
        .settings {font-style:italic;font-size:12px;display:block;padding:5px 0 5px 0;text-transform: none;width:100%;display:block;margin-top:20px;text-align:center;
            span {font-style:normal;padding-top:5px;} 
        }  
    }
}

        #footer {bottom:0;text-align:center;font-size:14px;padding:10px 10px 10px;position:relative;width:100%;
                        * {color:white;}

            img {width: 175px;margin:0px auto 0px auto;}
        .copyright {font-size:10px;margin:0;}


        }


#manufacturer-header {text-align:center;
    img {width:300px;margin:0 auto;display:block;    }
    hr {margin:0;    }
}

#body {margin-top: 80px;position:relative;

 
    
    &.close {
        .col-1 {left:-200px;@include box-shadow(-20px 0px 20px #000);}
        .col-2 {padding-left:0px;}
    }
}    


#content {}

#subHeader {background: $p-3;position:fixed;z-index:2;@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.51));@include transition(all, .25s);width:100%;max-width:1400px;margin:0 auto;
    &.close {padding-left:200px;}
    #back {float:left;color:#fff;padding:13px 18px 13px 15px;font-size:24px;border-right:1px rgba(255, 255, 255, 0.25) solid;display:block;z-index:10;position:relative;}
    
    h1 {margin:0;color:#fff;font-size:16px;padding:20px 20px 20px 60px; float:left;
        @include bp-s {font-size:21px;}
        &.windows {background:url(../img/windows.png) left 20px center no-repeat;text-transform:uppercase;}
        &.showers {background:url(../img/showers.png) left 20px center no-repeat;text-transform:uppercase;}
        &.glass-types {background:url(../img/stained-glass.png) left 20px center no-repeat;text-transform:uppercase;}
        &.brands {background:url(../img/brands.png)  left 20px center no-repeat;text-transform:uppercase;}          
    
    }
    #filters {background:rgba(255, 255, 255, 0.10);padding:22px 20px;font-size:14px;min-width:130px;color: #fff;text-transform:uppercase;cursor:pointer;clear:both;z-index:10;position:relative;display:none;
        @include bp-s {float:right;clear:none;display:block;}
        
        &:before {content:'FILTERS';}
        &:after {position:absolute;right:20px;@extend .fa;content:'\f0ae';font-size:18px;}
        
        &.open {background:$p-2;
            &:before {content:'APPLY';}
            &:after {content:'\f00d';}
        }

    }
    #details {float:right;padding:22px 20px 10px 0;color:white;display:none;
        @include bp-s {display:block;}
        span {font-size:13px;}
    }    
    
}





#filters-menu {height:100%;width:100%;z-index:1;padding:0 0px;width:100%;max-width:1400px;display:none;
    @include bp-s {top:63px;}
    &.open {display:block;}
    #options {
        .owl-wrapper-outer {background:#ffffff;}
        .owl-item {padding:40px 5px 30px 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100&1+0,0.47+100;White+3D+%231 */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.75) 47%,rgba(237,237,237,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.75) 47%,rgba(237,237,237,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#78ededed',GradientType=1 ); /* IE6-9 */
            
        }
        .op {  height:400px;  position: relative;overflow: auto;
                @media only screen and (min-height: 767px) {
                    height:517px;
                }  
                @media only screen and (min-height: 1024px) {
                    height:774px !important;
                } 
                @media only screen and (height: 800px) and (width: 1280px) {
                    height:550px !important;
                }                 
              .inner {padding-right:20px;margin: 0px auto 0 auto;position: relative;overflow: hidden;
                }
            }            
            h2 {margin-top:0;font-size:21px;margin-bottom:15px;}
            img {width:50px;margin-right:10px;}
        .owl-item:nth-of-type(2n) {}
        .checkbox-inline {padding:10px 20px;display:block;width:100%;margin:0 0 8px 0;position:relative;
            div {border:1px transparent solid;position:absolute;right:0;top:0;width:100%;height:100%;background:white;} 
            [type="checkbox"]:not(:checked),[type="checkbox"]:checked  {position: absolute;left: -9999px}
            [type="checkbox"]:disabled +  div + span, [type="checkbox"]:disabled + div {opacity:.3;}            
            [type="checkbox"] + div {z-index:-1;border:2px #f1f1f1 solid;}
            [type="checkbox"]:checked + div {background:$p-1;color:white;position:absolute;right:0;top:0;width:100%;height:100%;border:2px $p-1 solid;}
            [type="checkbox"]:checked + div + span {color:#fff !important;}                    
        }
    }
    #foot {width:100%;position:fixed;bottom:0;left:0;width:100%;background: #333;display:none;
        input {float:right;background:$p-2;border:0;outline:0;color:white;padding:10px;}
    }
    
    .material-aluminum {width:50px;height:50px;margin-right:20px;background:#fff;display:inline-block;vertical-align:middle;border:1px #ddd solid;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
        background: rgb(226,226,226); /* Old browsers */
        background: -moz-linear-gradient(45deg,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
    }
    .material-vinyl {width:50px;height:50px;margin-right:20px;background:#fff;display:inline-block;vertical-align:middle;border:1px #ddd solid;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .material-fiberglass {width:50px;height:50px;margin-right:20px;background:#fff;display:inline-block;vertical-align:middle;border:1px #ddd solid;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    
    .color-white {width:50px;height:50px;margin-right:20px;background:#fff;display:inline-block;vertical-align:middle;border:1px #ddd solid;}
    .color-tan {width:50px;height:50px;margin-right:20px;background:#d0b774;display:inline-block;vertical-align:middle;border:1px #ddd solid;}
    .color-beige {width:50px;height:50px;margin-right:20px;background:#eae8cd;display:inline-block;vertical-align:middle;border:1px #ddd solid;}
    .color-brown {width:50px;height:50px;margin-right:20px;background:#744f09;display:inline-block;vertical-align:middle;border:1px #ddd solid;}
    .color-black {width:50px;height:50px;margin-right:20px;background:#000000;display:inline-block;vertical-align:middle;border:1px #ddd solid;}
    .color-red {width:50px;height:50px;margin-right:20px;background:#9a3030;display:inline-block;vertical-align:middle;border:1px #ddd solid;}    
}



#subBody {padding-top:60px;position:relative;z-index:0;max-width:1400px;margin:0 auto;@include clearfix;
    &.filter-space {padding-top:60px;}
    #bg {    
        position:fixed;top: 0;left: 0;width:100%;left:0;height:100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    }
    
    #product-view {padding:30px 30px 30px 30px;@include clearfix;min-height:638px;
    }
    .product-gallery {@include make-sm-column(7,40px);padding-bottom:30px;
        > img {width:100%;}
    }
    .product-content {@include make-sm-column(5,40px);padding-left:20px;
        * {font-family: 'montserratregular';} 
        .panel-title {position:relative;
            > a:after {position:absolute;right:15px;@extend .fa;content:'\f068';}
            > a.collapsed:after {position:absolute;right:15px;@extend .fa;content:'\f067';}
        }
        .panel-body {
            img {width:100%;}
            ul.two-col {
                li {@include make-sm-column(6);padding:0;}
            }
        }
        #manufacturer {max-width:150px;}
        h1 {margin-top:20px;}
        p {padding:10px 0 20px 0;font-size:14px;line-height:1.4;}
        .panel-body {font-size:14px;line-height:1.4;}

        .panel-heading {padding:0;
            a {display:block;padding:10px;    font-family: 'montserratmedium';

                &:hover {text-decoration:none;}
            }
        }

    }
    
}


ul#products {@include make-row();margin:0;padding:30px 15px;
    &.open {display:none;}
    &.manufacturers {
        .inner {border:1px #ccc solid;background:transparent !important;}
        h3 {position:relative !important;color:#333;clear:both;bottom:auto;margin:0px auto 40px;left:auto;}
        a {overflow: visible;}
        img {width:100%;margin:20px auto 10px;display:block;float:none;}

    }
    &.three {
        li {@include make-sm-column(4, 20px);}
    }
    li {@include make-sm-column(6, 20px);text-align:left;list-style:none;margin-bottom:20px;
        a {color:#444;display:block;padding:20px;@include clearfix;@include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));position:relative;overflow:hidden;text-align:center;color:white;padding:0px 0;
             &:hover {text-decoration:none;}
           .inner {position:absolute;left:0px;right:0px;bottom:0px;top:0px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+35,0+100,0.83+100 */
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.83) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.83) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.83) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d4000000',GradientType=0 ); /* IE6-9 */

           }
            img {margin-bottom:0px;width:250px;float:left;margin-right:20px;width:100%;height:auto;opacity:1;z-index:0;}
            p {font-size:14px;margin-top:10px;}
            span {font-size:12px;text-transform:uppercase;position:relative;z-index:1;position:absolute;bottom:50px;left:20px;}
            h3 {margin:0;font-size:21px;position:relative;z-index:1;position:absolute;bottom:20px;left:20px;}
        }
        
    }
}




#inside-cover {overflow: hidden;
    .top {
        .bg {background:rgba(0, 0, 0, 0.15);position:absolute;top:0;left:0;width:100%;height:100%;}
        height:590px;
        overflow:hidden;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 5px #fff solid;
        @include bp-xl {height:846px;}
        @media only screen and (height: 800px) and (width: 1280px) {
            height:621px !important;
        }           
        h1 {position:absolute;left:50px;bottom:30px;color:#fff;font-size:52px;text-shadow:3px 3px 5px rgba(0, 0, 0, 0.75);
            a {display:block;font-size:14px;color:#fff;width:270px;padding:13px 15px;margin-top:30px;background:$p-4;text-shadow:none;text-transform: uppercase;
                i {float:right;}
            }
        }
        
    }
    .bottom {overflow:hidden;margin:0;
        > div {position:relative;float:left;overflow:hidden;height:98px;width:100%;border-bottom: 5px #fff solid;background:#444 right center no-repeat;
            .bg {background:left 20px center no-repeat rgba(101, 167, 184, 0.5);position:absolute;top:0;right:0;width:100%;height:100%;}
            @include bp-s {width:33.33333333%;border-right: 5px #fff solid;border-bottom:0;}         
            a {position:absolute;bottom:25px;left:20px;display:block;font-size:16px;color:#fff;padding:0;text-shadow:none;text-transform: uppercase;font-size:18px;width:100%;line-height:1.2;padding-left:45px;
                i {position:absolute;right:40px;font-size:32px;bottom:0px;
                    @include bp-s {display:none;}
                    @include bp-m {display:block;}
                }
            }
            
            &:last-of-type {border-right:0;}
            


        }
    }
    img {height:100%;width:auto;
        @include bp-l {width:100%;height:auto;}
        @include bp-xl {height:100%;width:auto;}
        &.brand {position:absolute;right:30px;top:15px;width:auto;height:auto;}

    }
}


.panel-collapse {overflow:hidden;}
.collapse {overflow:hidden;height:0;
    &.collapsing {overflow:hidden;height:0;}
    &.in {height:auto;}
    .panel-body {}
}




#search-menu {position:relative;float:right;
    form {width:0;@include transition(.5s, all);right:0;}
    #search {position:absolute;width:0;overflow:hidden;top:-2px;right:-6px;
        input:first-of-type {width:100%;font-size:14px;padding:3px 5px;height:39px;position:absolute;
            &:focus {outline:0;}
        }        
         input:last-of-type {position:absolute;top:0;right:0px;background:transparent !important;width:35px;border:0;z-index:16;}

        i.fa-search {position:absolute;top:0px;right:0px;padding:6px 7px 7px 7px;background:$p-1;color:#fff;display:none;}
        i.fa-times {position:absolute;top:0px;right:-31px;padding:7px 10px;background:#333;color:#fff;display:none;right:-40px;
        }
    }
    &.active {
        #search {width:200px;height:28px;overflow:visible;
            @include bp-s {width:250px;}
            form {width:100%;position:absolute;height:33px;z-index:13;
                @include bp-s {height:28px;}
                input {color:$p-1;}
            }
            i {display:block;}
        }
        > i {display:none;}
    }
    i {z-index:15;position:relative;color:#fff;}
    
}


p, li {font-family: 'montserratregular';}
li a {font-family: 'montserratmedium';}
#product-nav, .bottom a {font-family: 'montserratmedium';}
#subHeader h1, #inside-cover h1 {font-family: 'montserratbold';}
.panel-heading a {font-family: 'montserratmedium';}
.panel-body {font-family: 'montserratlight';}
#filters  {font-family: 'montserratbold';}
h1 {font-family:'montserratbold';}

//NO OWL
/*#filters-menu {position:relative;clear:both;
    @include bp-s {top:0 !important;}
}
#options {@include clearfix;background:white;}
#options > div {background:#ffffff;padding:40px 5px 30px 20px;@include make-sm-column(4);z-index:0;
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%); 
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.75) 47%,rgba(237,237,237,0.47) 100%); 
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.75) 47%,rgba(237,237,237,0.47) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#78ededed',GradientType=1 );}*/
//END NO OWL