
<div id="header">
    <div id="logo">
        <a href="javascript:history.back()"><img src="assets/img/logo.png" alt=""></a>
    </div>
    <div id="nav">


        <!--<ion-icon name="menu" menuToggle style="margin-left: 18px; float: right; margin-top: 5px; color: white;"></ion-icon>-->
        <i class="fa fa-bars"  menuToggle></i>
        <!--<img src="assets/img/menu-butto.png" menuToggle alt=""
             style="margin-left: 18px; float: right; margin-top: 5px;">-->
        <div id="search-menu" [ngClass]="{'active':flag}">
            <div id="search">
                <form action=""><input type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                                       placeholder="Enter your keywords"><input type="submit" class="submit"
                                                                                value=""
                                                                                (click)="searchResult(searchValue)"/>
                    <i class="fa fa-search" (click)="showToast()"></i>
                    <i class="fa fa-times" (click)="showSearch(' ')"></i></form>
            </div>
            <!--<i class="fa fa-search"></i>-->
            <i class="fa fa-search" (click)="showSearch(' ')"></i>
            <!-- <img src="assets/img/search-icon.png" alt="" style="position: relative; z-index: 15;" (click)="showSearch(' ')">-->
        </div>
    </div>
</div>



<div class="container-fluid">
    <div id="body" class="row close">
        <div class="col-12">
            <div id="content">
                <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

                <div id="product">
                    <div id="subHeader">
                        <a id="back" href="javascript:void(0)" (click)="back()"><img
                                src="assets/img/left-arrow-angle.png"
                               ></a>

                        <h1 class="brands" [ngStyle]="{ 'background-image': 'url(' + cat_icon + ')'}"
                            style="left 20px center no-repeat; text-transform: uppercase; margin-top: 5px;">
                            {{cat_name}}</h1>
                    </div>
                    <!--<a href="" class="back"><span class="icon-back"></span> Back</a>-->


                    <div id="subBody">
                        <div id="bg"></div>

                        <div id="product-view">
                            <div class="product-gallery">




                                <carousel [interval]="0" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">


                                    <slide *ngFor="let post of getProductData_product_photo">

                                        <img [src]="post.product_photo" alt="" style="width: 100%"/>

                                    </slide>
                                </carousel>


                            </div>

                            <div class="product-content">
                                <img id="manufacturer" [src]="manufacturer_logo" alt="">
                                <h1>{{name}}</h1>
                                <p [innerHTML]=description></p>

                                <div class="panel-group" id="accordion">


                                    <accordion [closeOthers]="oneAtATime">
                                        <accordion-group   *ngFor="let name of getKey" 
                                                         heading={{name.key}} style="text-transform: capitalize; "
                                                         (click)="accordianClick(name.key)">

                                            <ul style="padding-top: 10px;">
                                                <li *ngFor="let post of accordianData" >
                                                    <div [innerHTML]=post.name></div>
                                                </li>
                                            </ul>


                                        </accordion-group>

                                        <accordion-group  *ngIf="options_flag"  heading="Options">


                                            <div class="panel-body">
												<p [innerHTML]="options"></p>
                                            </div>


                                        </accordion-group>

                                        <accordion-group  *ngIf="documentation_flag" heading="Documentation">
                                           <!-- <accordion-heading>
                                            <i class="glyphicon glyphicon-pencil"></i> Icon on the left
                                            </accordion-heading>-->

                                            <div class="panel-body">
												<p [innerHTML]="documentation"></p>
                                            </div>
                                        </accordion-group>
                                    </accordion>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

